<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tr.com.alicolalaker.ulkebilgisi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Oyun"
            android:label="@string/title_activity_oyun"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Kitalar"
            android:label="@string/title_activity_bolumler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Sorular"
            android:label="@string/title_activity_sorular"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>